<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layoutadmin.html}">
<head>
  <meta charset="UTF-8">
  <title>San pham</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="../css/admin/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body layout:fragment="content">
<div>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addproduct">
        Add Product
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addimage">
      Add image
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailproduct">
      Add detai product
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addproduct">
      Add Product
    </button>

    <div>
      <table class="table">
        <thead>
            <tr>
              <th>#</th>
              <th>Tên sản phẩm</th>
              <th>Giá Bán</th>
              <th>Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
    </div>


  </div>
</div>
<!--model-->
<div>

  <!-- Modal -->
  <div class="modal fade" id="addproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAddProduct" name="formAddProduct" enctype="multipart/form-data">
              <div class="modal-body">

                <div class="mb-3">
                  <label class="form-label" >Tên sản phẩm</label>
                  <input type="text" name="tenSanPham" class="form-control" >
                </div>

                <div class="mb-3">
                  <label class="form-label" >Mô tả</label>
                  <input type="text" name="moTa" class="form-control" >
                </div>

                <div class="mb-3">
                  <label class="form-label" >Thương hiệu </label>
                  <input type="text" name="thuongHieu" class="form-control" >
                </div>


                <div class="mb-3">
                  <label class="form-label" >Giá bán</label>
                  <input type="number" name="giaBan" class="form-control" >
                </div>

                <div class="mb-3">
                  <label class="form-label" >Chất liệu</label>
                  <input type="text" name="chatLieu" class="form-control">
                </div>

                <div class="mb-3">
                  <label class="form-label" >Phân loại</label>
                  <input type="text" name="phanLoai" class="form-control" >
                </div>

                <div class="mb-3">
                  <label class="form-label" >Ảnh</label>
                  <input type="file" name="file" class="form-control">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
        </form>
      </div>
    </div>
  </div>

  <!-- update -->
  <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- add image -->
  <div class="modal fade" id="addimage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">thêm ảnh cho sản phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAddImage" name="formAddImage" enctype="multipart/form-data">
          <div class="modal-body">
              <select class="form-select" name="id" aria-label="Default select example">
                <option selected>Chọn sản phẩm</option>

              </select>

              <div class="mb-3">
                <label class="form-label" >Chọn ảnh</label>
                <input type="file" name="files" class="form-control">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- add chitiet san pham -->
  <div class="modal fade" id="detailproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >thêm chi tiết sản phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formadddetailProduct" name="formadddetailProduct" enctype="multipart/form-data">
          <div class="modal-body">

            <select class="form-select" name="idSanphamCha" aria-label="Default select example">
              <option selected>Chọn sản phẩm thêm chi tiết</option>

            </select>

            <div class="mb-3">
              <label class="form-label" >Tên sản phẩm</label>
              <input type="text" name="tenSanPham" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label" >Mô tả</label>
              <input type="text" name="moTa" class="form-control">

            </div>

            <div class="mb-3">
              <label class="form-label" >Thương hiệu </label>
              <input type="text" name="thuongHieu" class="form-control" >
            </div>


            <div class="mb-3">
              <label class="form-label" >Giá bán</label>
              <input type="number" name="giaBan" class="form-control" >
            </div>

            <div class="mb-3">
              <label class="form-label" >Chất liệu</label>
              <input type="text" name="chatLieu" class="form-control" >
            </div>

            <div class="mb-3">
              <label class="form-label" >Phân loại</label>
              <input type="text" name="phanLoai" class="form-control" >

            </div>

            <div class="mb-3">
              <label class="form-label" >Màu sắc</label>
              <input type="text" name="mauSac" class="form-control" >
            </div>

            <div class="mb-3">
              <label class="form-label" >kích cỡ</label>
              <input type="text" name="kichCo" class="form-control" >
            </div>

            <div class="mb-3">
              <label class="form-label" >Số lượng</label>
              <input type="text" name="soLuong" class="form-control" >
            </div>

            <div class="mb-3">
              <label class="form-label" >Ảnh</label>
              <input type="file" name="file" class="form-control" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit"  class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>












<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../js/admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../assets/demo/chart-area-demo.js"></script>
<script src="../assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="../js/admin/datatables-simple-demo.js"></script>
<script src="../js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<script>

$(document).ready(function (){
  var htmlContent='';
  var content =''
  $.ajax({
    url: '/api/v1/sanpham/getall',
    type: 'GET',
    dataType: "json",
    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    success: function (response){
      htmlContent += '<option>Chọn sản phẩm</option>'
      response.forEach(function (item , index){
             htmlContent +='<option value="'+item.idSanpham+'">'+item.tenSanPham+'</option>'

        content+='<tr>\n' +
                '            <td>'+index+'</td>\n' +
                '            <td>'+item.tenSanPham+'</td>\n' +
                '            <td>'+formatMoney(item.giaBan)+'</td>\n' +
                '            <td> xem , sửa , xóa</td>\n' +
                '          </tr>'
      })

      $("#data").html(content)

      $('select[class=form-select]').html(htmlContent)

    },
    error: function (err) {
      alert("error : "+err.message);
    }
  });
})

  $('#formAddProduct').submit(function(event) {
    var formElement = this ;

    var formData = new FormData(formElement);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "/api/v1/file/uploadavatar",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log(response);
        alert('Add success')
      },
      error: function (error) {
        console.log(error);
        alert('add false')
      }
    });

    event.preventDefault();
  });

  $('#formAddImage').submit(function(event) {
    var formElement = this ;

    var formData = new FormData(formElement);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "/api/v1/uploadMultipleFiles",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log(response);
        alert('Add success')
      },
      error: function (error) {
        console.log(error);
        alert('add false')
      }
    });

    event.preventDefault();
  });

  $('#formadddetailProduct').submit(function(event) {
    var formElement = this ;

    var formData = new FormData(formElement);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "/api/v2/addsanpham",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log(response);
        alert('Add success')
      },
      error: function (error) {
        console.log(error);
        alert('add false')
      }
    });

    event.preventDefault();
  });






</script>
</body>
</html>