<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>LongLoc - Shop quần áo thời trang</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head >

<body layout:fragment="content">



    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url(/img/bg-img/breadcumb2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h1 style="color: #1b1e21" >Blog Thời Trang</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="blog-wrapper section-padding-80">
        <div class="container">
            <div class="row">
               
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                        <img src="img/bg-img/blog1.jpg" alt="">
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="#" style="color: #5f3f3f">Fashion Trends of August 2022</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="#">Fashion Trends of August 2022</a>
                            </div>
                            <p>Thiết kế trang phục nào, màu sắc hay chi tiết nào sẽ được lựa chọn dành cho nàng trong những ngày giao mùa tháng 8?</p>
                            <a href="#">Xem thêm<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
               
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                        <img src="img/bg-img/blog2.png" alt="">
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="#" style="color: #5f3f3f">Bí kíp chọn áo blazer để không bị trông già !!!</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="#">Bí kíp chọn áo blazer để không bị trông già !!!</a>
                            </div>
                            <p>Thời tiết như bây giờ có thể nói đang là khoảng thời gian phái đẹp yêu thích nhất. Những bộ cánh “mát mẻ” mùa hè được nhường chỗ cho những chiếc áo khoác nữ nhẹ nhàng điển hình là áo blazer.</p>
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
               
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                        <img src="img/bg-img/blog3.jpg" alt="">
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="#" style="color: #5f3f3f">Những thiết kế mà cô nàng công sở nhất định phải có</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="#">Những thiết kế mà cô nàng công sở nhất định phải có</a>
                            </div>
                            <p>Phụ nữ công sở luôn gặp khó khăn mỗi buổi sáng vì phải chọn lựa, kết hợp trang phục sao cho bản thân toát lên nét trang trọng nhưng vẫn giữ vẻ đẹp quyến rũ, trưởng thành.</p>
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
               
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                        <img src="img/bg-img/blog4.jpg" alt="">
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="#" style="color: #5f3f3f">Mặc thanh lịch như quý cô PARIS</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="#">Phong cách thời trang Pháp sang trọng, tinh tế</a>
                            </div>
                            <p>Phong cách Paris không chỉ được định hình trên đất nước Pháp. Bạn hoàn toàn có thể tự khiến mình trở thành một cô gái Paris nếu nắm rõ các chuẩn mực của phong cách thời trang đầy cuốn hút, nổi tiếng toàn cầu này.</p>
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
               
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                        <img src="img/bg-img/blog5.jpg" alt="">
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="#" style="color: #5f3f3f">Top 5 những chiếc quần “quốc dân” mà mọi cô nàng công sở nên có</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="#">Top 5 những chiếc quần “quốc dân” mà mọi cô nàng công sở nên có</a>
                            </div>
                            <p>Những chiếc quần khác nhau thường là trang phục không thể nào thiếu trong tủ đồ của bất cứ cô nàng nào. Bởi đây là một item must – have phù hợp cho mọi style khác nhau của nàng.</p>
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
               
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                        <img src="img/bg-img/blog6.jpg" alt="">
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="#" style="color: #5f3f3f">Sự lên ngôi của phong cách tối giản – Minimalism</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="#" style="color: #5f3f3f">Sự lên ngôi của phong cách tối giản – Minimalism</a>
                            </div>
                            <p>Với trang phục phong cách minimalism, bạn có thể diện trong mọi hoàn cảnh, đáp ứng được mọi nhu cầu của người mặc: thoải mái, thời trang, nổi bật, đơn giản và cũng đầy sang trọng.</p>
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->


    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>