<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/tbdh.css">
    <link rel="icon" href="img/core-img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <title>LongLoc - Shop quần áo thời trang</title>
    <style>
        a:hover , a:focus{
            font-size: 16px;
        }
    </style>
</head>
<body layout:fragment="content">

<div class="container " style="margin-top: 85px">
    <a href="/shop" style="" class="btn my-2" data-abc="true"> <i class="fa fa-chevron-left"></i> Sản phẩm</a>
    <article class="card">
        <header >
            <div class="alert alert-success py-auto" role="alert">Đặt hàng thành công !</div>
        </header>
        <div class="card-body">
            <h6>Mã đơn hàng: <strong name="idDonhang"></strong></h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col">
                        <strong>Dự kiến giao hàng:</strong>
                        <br>
                        <div name="ngayDuKienGiaoHang"></div>
                    </div>
                    <div class="col">
                        <strong>Trạng thái : </strong>
                        <div name="trangThaiDonHang"></div>
                    </div>
                    <div class="col">
                        <strong>Phương thức thanh toán:</strong>
                        <br>
                        <div> Thanh toán Khi nhận hàng </div>
                    </div>
                </div>
            </article>
            <hr>
            <div class="my-2">
                <div class="diachi" style="background-color: #ddd">
                    <div class="diachi-nd" id="diachigiaohang" style="background-color: #fff">
                        <h5><strong>Địa chỉ nhận hàng : </strong></h5>
                        <div class="d-flex align-items-center justify-content-between h6">
                            <div>
                                <strong name="tenNguoiNhan"></strong>
                                <strong class="ml-2 mr-5" name="soDienThoai"></strong>
                                <span name="diaChiGiaoHang"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="my-3" style="height: 100px">
                    <div>
                        <label><strong>Ghi chú :</strong><span name="ghiChu"></span></label>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div>

                <h4>Sản phẩm :</h4>
            </div>
            <div id="itemSanpham">

            </div>

        </div>
    </article>
</div>
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="js/classy-nav.min.js"></script>

<script src="js/main.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<script>


    $(document).ready(function (){
        let searchParams = new URLSearchParams(window.location.search)
        searchParams.has('id')
        let search = searchParams.get('id')
        var htmlContent='';
        $.ajax({
            url: '/api/v1/donhang/get/'+search,
            type: 'GET',
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response){

                var tongtien = 0;
                var tien = 0;

                $('div[name=idDonhang]').text(response.data.donhang.idDonhang)
                $('div[name=ngayDuKienGiaoHang]').text((response.data.donhang.ngayDuKienGiaoHang.toString().substr(0, 10)))
                $('div[name=trangThaiDonHang]').text(response.data.donhang.trangThai)
                $('span[name=ghiChu]').text(response.data.donhang.ghiChu)

                $('strong[name=tenNguoiNhan]').text(response.data.diachigiaohang.tenNguoiNhan)
                $('strong[name=soDienThoai]').text(response.data.diachigiaohang.dienThoai)
                $('span[name=diaChiGiaoHang]').text(response.data.diachigiaohang.diaChi)


                response.data.chitietsanphamAndChitietdonhang.forEach(function (item) {
                    htmlContent += '<div class="d-flex  align-items-center justify-content-between py-3">\n' +
                        '                        <div class="d-flex w-75">\n' +
                        '                            <div>\n' +
                        '                                <img style="height: 75px; width: 75px" src="' + item.sanpham.img + '">\n' +
                        '                            </div>\n' +
                        '                            <div class="px-2">\n' +
                        '                                <div>\n' +
                        '                                    <h5>' + item.sanpham.tenSanPham + '</h5>\n' +
                        '                                </div>\n' +
                        '                                <div style="color: #8C8CAA">\n' +
                        '                                    <label>Phân loại : </label><span>' + item.sanpham.kichCo + " , " + item.sanpham.mauSac + '</span>\n' +
                        '                                </div>\n' +
                        '                                <div>x'+item.chitietdonhang.soLuong+'</div>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                        <div>\n' +
                        '                            <span style="color: red">' + formatMoney(item.chitietdonhang.gia) + '</span>\n' +
                        '                        </div>\n' +
                        '                    </div>'

                    tongtien += parseInt(item.chitietdonhang.soLuong) + parseInt(item.chitietdonhang.gia);
                })
                htmlContent += '<div class="border-top py-3 px-2">\n' +
                    '                        <div class="d-flex flex-column align-items-end">\n' +
                    '                            <div>\n' +
                    '                                <label>Tổng tiền : </label><span style="color:red;">' + formatMoney(tongtien) + '</span>\n' +
                    '                            </div>\n' +
                    '                            <div class="py-3">\n' +
                    '                                <a type="button" onclick="" href="/donmua#dangcho" class="btn btn-danger">Xem đơn mua hàng</a>\n' +
                    '                            </div>\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                </div>'

                $("#itemSanpham").html(htmlContent)


            },
            error: function (err) {
                alert("error : "+err.message);
                $("#itemSanpham").text(err.message)
            }
        });
    })



</script>
</body>
</html>