<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/tbdh.css">
    <link rel="icon" href="img/core-img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <title>LongLoc - Shop quần áo thời trang</title>
</head>

<div class="container">
    <article class="card">
        <header class="card-header"> Đơn hàng của tôi / Theo dõi </header>
        <div class="card-body">
            <h6>Mã đơn hàng: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Dự kiến giao hàng:</strong> <br>29-09-2022 </div>
                    <div class="col"> <strong>Giao bởi:</strong> <br> LL EXPRESS, | <i class="fa fa-phone"></i> +1598675986 </div>
                    <div class="col"> <strong>Trạng thái:</strong> <br> Shipper đã nhận hàng </div>
                    <div class="col"> <strong>Phương thức thanh toán:</strong> <br> PayPal </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Xác nhận đơn hàng</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Shipper đã nhận hàng</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Đang giao hàng </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Sẵn sàng nhận hàng</span> </div>
            </div>
            <hr>
            <ul class="row">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="img/product-img/product-1.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Áo sơ mi nhung tằm <br> SIZE: M | MÀU SẮC: XANH</p> <span class="text-muted">$200 </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="img/product-img/product-6.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Áo sơ mi nhung tằm <br> SIZE: L | MÀU SẮC: ĐEN</p> <span class="text-muted">$250 </span>
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="img/product-img/product-99.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Áo sơ mi nhung tằm <br> SIZE: S | MÀU SẮC: HỒNG</p> <span class="text-muted">$200 </span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <hr>
            <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Trở về giỏ hàng</a>
        </div>
    </article>
</div>