<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>LongLoc | Đăng ký tài khoản</title>

  <!-- Favicon  -->
  <link rel="icon" href="/img/core-img/favicon.png">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="/css/core-style.css">
  <link rel="stylesheet" href="/dangky/dangky.css">
  <link rel="stylesheet" href="/style.css">


</head>

<body layout:fragment="content">


<!--Register start-->
<section class="dangky">
  <div class="to">
    <form class="my-5">
      <div class="d-flex justify-content-center">
        <div class="my-5">
          <h2 class="">Đăng ký</h2>
          <img  src="/dangky/favicon.png" alt="logo" class="logo">
        </div>
      </div>

      <div id="message"></div>

        <label for="Email" class="mx-3 align-items-start">Email</label>
        <input type="email" class="mx-3 w-75" name="Email" id="Email">
      <div id="messageEmail" class="mx-3 text-danger"></div>


      <label for="phoneNumber" class="mx-3">Số điện thoại</label>
        <input type="number" class="mx-3 w-75" name="phoneNumber" id="phoneNumber">
      <div id="messagePhoneNumber" class=" mx-3 text-danger"></div>



      <label for="password" class="mx-3">Mật khẩu</label>
      <input type="password"  class="mx-3 w-75" name="password" id="password">
      <div id="messagePassword" class=" mx-3 text-danger"></div>

        <label for="comfirmPassword" class="mx-3">Nhập lại mật khẩu</label>
        <input type="password" class="mx-3 w-75" name="comfirmPassword" id="comfirmPassword">
        <div id="messageComfirm" class="mx-3 text-danger"></div>

      <div class=" d-flex justify-content-end">
        <button type="button" id="dangky" class="mx-3 , my-3">Đăng ký</button>
      </div>
    </form>
  </div>
</section>

<!--Register end-->


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

<script>

  $("#dangky").click(function (){
    var check = true;
    var email = $("#Email").val();
    var phoneNumber = $("#phoneNumber").val();
    var password = $("#password").val();
    var comfirmPassword = $("#comfirmPassword").val();



    if (comfirmPassword ===null || comfirmPassword === undefined || comfirmPassword === ""){
      $("#messageComfirm").text("Vui lòng điền vào trường này");
      check = false;
      $("#comfirmPassword").focus();
    }else if (password != comfirmPassword){
      $("#messageComfirm").text("Mật khẩu không khớp !")
    }

    if (password ===null || password === undefined || password === ""){
      $("#messagePassword").text("Vui lòng điền vào trường này");
      $("#password").focus();
      check = false;
    }


    if (phoneNumber ===null || phoneNumber === undefined || phoneNumber === ""){
      $("#messagePhoneNumber").text("Vui lòng điền vào trường này");
      $("#phoneNumber").focus();
      check = false;
    }


    if (email ===null || email === undefined || email === ""){
      $("#messageEmail").text("Vui lòng điền vào trường này");
      $("#Email").focus();
      check = false;
    }


    if (check === true){
      var data = {
        email : email,
        phoneNumber : phoneNumber,
        password : password,
      }


      $.ajax({
        url: '/api/account/register',
        type: 'POST',
        dataType: "json",
        contentType: 'application/json',
        data:JSON.stringify(data),
        success: function (response){
          location.href="/login";
        },
        error: function (err) {
          if (err.message != undefined){
            $("#message").text("error : "+err.message);
          }else{
            $("#message").text("error : "+err.responseJSON.message);
          }

        }
      });
    }

  })




</script>
</body>

</html>