<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>LongLoc | Danh Mục</title>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
    <!-- Favicon  -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        .dropbtnInfor {
            border: none;
        }

        .dropdownInfor {
            position: relative;
            display: inline-block;
        }

        .dropdown-contentInfor {
            display: none;
            background-color: white;
            position: absolute;
            z-index: 1;
            border: 1px solid rgba(242,244,248,.7);
        }
        .dropdown-contentInfor li a{
            width: 180px !important;
            height: 35px !important;
            line-height: 34px !important;
            color: #787878!important;
            font-size: 14px !important;
            padding: 0px 20px !important;
        }

        .dropdown-contentInfor li a:hover{
            color: black!important;
        }

        .dropdown-contentInfor li {
            border-bottom: 1px solid rgba(242,244,248,.7);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgba(242, 244, 248, 0.7);
        }

        .dropdown-contentInfor a {
            display: block;
        }

        .dropdownInfor:hover .dropdown-contentInfor {display: block;}

    </style>

</head>

<body layout:fragment="content">




<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Catagories</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#clothing">
                                    <a href="#">clothing</a>
                                    <ul class="sub-menu collapse show" id="clothing">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                    <a href="#">shoes</a>
                                    <ul class="sub-menu collapse" id="shoes">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                    <a href="#">accessories</a>
                                    <ul class="sub-menu collapse" id="accessories">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Filter by</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Price</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Range: $49.00 - $360.00</div>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget color mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Color</p>
                        <div class="widget-desc">
                            <ul class="d-flex">
                                <li><a href="#" class="color1"></a></li>
                                <li><a href="#" class="color2"></a></li>
                                <li><a href="#" class="color3"></a></li>
                                <li><a href="#" class="color4"></a></li>
                                <li><a href="#" class="color5"></a></li>
                                <li><a href="#" class="color6"></a></li>
                                <li><a href="#" class="color7"></a></li>
                                <li><a href="#" class="color8"></a></li>
                                <li><a href="#" class="color9"></a></li>
                                <li><a href="#" class="color10"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Brands</p>
                        <div class="widget-desc">
                            <ul>
                                <li><a href="#">Asos</a></li>
                                <li><a href="#">Mango</a></li>
                                <li><a href="#">River Island</a></li>
                                <li><a href="#">Topshop</a></li>
                                <li><a href="#">Zara</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>186</span> products found</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="itemSanpham">

                        <!-- Single Product -->

                        <div id="demo"></div>

                    </div>
                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">21</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>

<script>

    $(document).ready(function (){
        // let searchParams = new URLSearchParams(window.location.search)
        // searchParams.has('id')
        // let idDanhmuc = searchParams.get('id')
        var pathname = window.location.pathname;
        console.log( 'patname : '+pathname)

        var string = pathname.substr(9);

       var htmlContent='';
        $.ajax({
            url: '/api/v1/danhmuc/name/'+string,
            type: 'GET',
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response){
                    response.data.sanphams.forEach(function (item){
                        htmlContent +='<div  class="col-12 col-sm-6 col-lg-4 mb-5">\n' +
                            '                                <a href="/detail?id='+item.idSanpham+'" class="single-product-wrapper">\n' +
                            '                                    <div class="product-img">\n' +
                            '                                        <img style="height: 255px" src="'+item.img+'" alt="">\n' +
                            '                                        <img style="height: 255px" class="hover-img" src="'+item.img+'" alt="">\n' +
                            // '                                        <div class="product-badge offer-badge">\n' +
                            // // '                                            <span>-30%</span>\n' +
                            // '                                        </div>\n' +
                            // '                                        <div class="product-favourite">\n' +
                            // '                                            <a href="#" class="favme fa fa-heart"></a>\n' +
                            // '                                        </div>\n' +
                            '                                    </div>\n' +
                            '                                    <div class="product-description">\n' +
                            '                                        <span>topshop</span>\n' +
                            '                                        <div>\n' +
                            '                                            <h6>'+item.tenSanPham+'</h6>\n' +
                            '                                        </div>\n' +
                            '                                        <p class="product-price">'+item.giaBan+'</p>\n' +//<span class="old-price">500000</span>
                            '                                    </div>\n' +
                            '                                </a>\n' +
                            '                            </div>'
                        // htmlContent += '<a href="/detail?id='+item.idSanpham+'" class="single-product-wrapper">\n' +
                        //     '                                    <div class="product-img">\n' +
                        //     '                                        <img src="'+item.img+'" alt="">\n' +
                        //     '                                        <img class="hover-img" src="'+item.img+'" alt="">\n' +
                        //     '                                    </div>\n' +
                        //     '                                    <div class="product-description">\n' +
                        //     '                                        <span>topshop</span>\n' +
                        //     '                                            <h6>'+item.tenSanPham+'</h6>\n' +
                        //     '                                        <p class="product-price">'+item.giaBan+'</p>\n' + //<span class="old-price">500000</span>
                        //     '                                    </div>\n' +
                        //     '                                </a>\n' +
                        //     '                            </a>'
                        $('#itemSanpham').html(htmlContent)
                    })

            },
            error: function (err) {
                alert("error : "+err.message);
                $("#itemSanpham").text(err.message)
            }
        });
    })


    function themGioHang(id){
        alert('them thanh cong')
    }
</script>
</body>

</html>