<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>LongLoc - Shop quần áo thời trang</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/giohang/giohang.css">
    <link rel="stylesheet" href="/style.css">

</head>

<body layout:fragment="content">

<!--cart start-->
<secticon class="giohang">
    <h2><img src="giohang/img-giohang/icongiohang-1.png" alt="" style="width: 90px">| Giỏ Hàng</h2>
    <form action="">
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" onclick="toggle(this);"></th>
                <th>Sản Phẩm</th>
                <th></th>
                <th></th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Tổng Tiền</th>
                <th>Thao Tác</th>
            </tr>
            </thead>
            <tbody id="data">
<!--            <tr>-->
<!--                <td><input type="checkbox"></td>-->
<!--                <td><img src="img/product-img/product-1.jpg" alt="" style="width: 50px"><span>San pham 1</span></td>-->
<!--                <td><span>300.000</span><sup>vnd</sup></td>-->
<!--                <td><input type="number" value="1" min="1" style="width: 30px;outline: none;"></td>-->
<!--                <td><span>300.000</span><sup>vnd</sup></td>-->
<!--                <td><button>Xóa</button></td>-->
<!--            </tr>-->
            </tbody>
        </table>
        <button type="button" id="thanhtoan">Thanh Toán</button>
    </form>
</secticon>
<!--cart end-->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<script>
    function toggle(source) {
        var checkboxes =document.querySelectorAll('input[type="checkbox"]')
        // console.log(checkboxes)
        for (var i = 0 ; i < checkboxes.length; i++){
            if (checkboxes[i] != source){
                checkboxes[i].checked = source.checked;
            }
        }
    }

    $(document).ready(function (){
        // let searchParams = new URLSearchParams(window.location.search)
        // searchParams.has('id')
        // let idDanhmuc = searchParams.get('id')

        var htmlContent='';
        $.ajax({
            url: '/api/v1/giohang/get',
            type: 'GET',
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response){


                response.data.forEach(function (item,index){
                    var thanhtien = 0;
                    thanhtien = parseInt(item.giohang.soLuong) * parseInt(item.sanpham.giaBan);
                    htmlContent +='<tr>\n' +
                        '                    <td><input type="checkbox"></td>\n' +
                        '                    <td><img src="'+item.sanpham.img+'" alt="" style="width: 50px">' +
                        '                        <span>San pham 1</span></td>' +
                        '                        <td><span>'+item.sanpham.kichCo+'</span></td>' +
                        '                       <td> <span>'+item.sanpham.mauSac+'</span></td>\n' +
                        '                    <td><span>'+item.sanpham.giaBan+'</span><sup>vnd</sup></td>\n' +
                        '                    <td><input type="number" name="soluong'+item.giohang.idGiohang+'" onblur="updateGioHang('+item.giohang.idGiohang+')" value="'+item.giohang.soLuong+'" min="1" style="width: 50px;outline: none;" id="xoa"></td>\n' +
                        '                    <td><span>'+thanhtien+'</span><sup>vnd</sup></td>\n' +
                        '                    <td><button type="button" onclick="xoaGioHang('+item.giohang.idGiohang+')">Xóa</button></td>\n' +
                        '            </tr>'

                        $('#data').html(htmlContent)
                })
            },
            error: function (err) {
                if (err.message != undefined){
                    alert("error : "+err.message);
                }else {
                    alert("Error : "+err.responseJSON.message)
                }

            }
        });
    })


    function xoaGioHang(id){
        //,jQuery.param({id:id})
        $.ajax({
            url:"/api/v1/giohang/"+id,
            type: 'DELETE',
            dataType: 'json',
            contentType:'application/json',
            // headers: {
            //     "Content-Type": "application/json",
            //     "Accept": "application/json",
            //     "Authorization": "Bearer "+jwt
            // },
            success:function (respon){
                location.reload();
            },
            error:function (error){
                if(error.message === undefined){
                    alert(error.responseJSON.message)
                }else {
                    alert(error.message);
                }

            }
        })
        event.preventDefault();

    }

    function updateGioHang(id) {

        var requestData = {
            soLuong: $('input[name=soluong' + id + ']').val()
        }
        //,jQuery.param({id:id})
        $.ajax({
            url: "/api/v1/giohang/" + id,
            type: 'PUT',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            // headers: {
            //     "Content-Type": "application/json",
            //     "Accept": "application/json",
            //     "Authorization": "Bearer " + jwt
            // },
            success: function (respon) {
                location.reload();
            },
            error: function (error) {
                if (error.message === undefined) {
                    alert(error.responseJSON.message)
                } else {
                    alert(error.message +" : "+error.data);
                }
            }
        })
        event.preventDefault();
    }
</script>

</body>
</html>