<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>LongLoc - Shop quần áo thời trang</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .form-select:focus{
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow:0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
        .form-select{
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .form-input{
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        option{
            font-weight: normal;
            display: block;
            white-space: nowrap;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }
        button[name=addtocart]:focus , button[name=addtocart]:hover{
            background-color: #ff4584;
        }
    </style>
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>

</head>

<body layout:fragment="content">

<div class="container-fluid mb-3 container" >
    <div class="row no-gutters " style="margin: 150px 0">
        <div class="col-md-7 pr-2">
            <div class="card" style="border: none">
                <div class="demo">
                    <ul id="lightSlider" style="height: 1vm">

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card " style="border: none">
                <div>
                    <div>
                        <h2><span id="tenSanpham"></span></h2>
                    </div>
                    <div class="my-3">
                        <span>giá : <span id="gia"></span></span>
                    </div>
                    <div>
                        <p>thương hiệu : <span id="thuongHieu"></span> </p>
                        <p>chất liệu : <span id="chatLieu"></span></p>
                    </div>
                    <div>
                        <p>
                            Mô tả : <span id="noidungMota"></span>
                        </p>
                    </div>
                    <div>
                        <div class="d-flex">
                            <div>
                                <label for="mausac">Màu sắc</label>
                                <select class="form-select" onchange="getSanpham()" id="mausac">
                                    <option>Chọn màu sắc</option>
                                </select>
                            </div>
                            <div class="mx-5">
                                <label for="kichco">Kích cỡ</label>
                                <select class="form-select" onchange="getSanpham()" id="kichco">
                                    <option>Chọn kích cỡ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="message"></div>
                    </div>

                    <div class="my-3">
                        <label for="soluong">Số lượng mua : </label>
                        <input type="number" class="form-input" id="soluong" min="1" style="width: 75px;" value="1">
                    </div>
                    <div class="cart-fav-box d-flex align-items-center">
                        <!-- Cart -->
                        <button type="submit" onclick="themGioHang()" name="addtocart" style="background-color: #b1b2ba" class="btn essence-btn">Thêm vào giỏ hàng</button>
                        <!-- Favourite -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script> $('#lightSlider').lightSlider({gallery: true, item: 1, loop: true, slideMargin: 0, thumbItem: 9});
</script>



    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/classy-nav.min.js"></script>
    <script src="js/main.js"></script>
<!--    <script src="js/active.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" ></script>

<script>
    var idSanphamCha ='';

    function getParameter(p) {
        var url = window.location.search.substring(1);
        var varUrl = url.split('&');
        for (var i = 0; i < varUrl.length; i++)
        {
            var parameter = varUrl[i].split('=');
            if (parameter[0] == p)
            {
                return parameter[1];
            }
        }
    }

    $(document).ready(function (){
        idSanphamCha = getParameter('id');

        var htmlContentImage ='';
        var htmlContentSize ='';
        var htmlContentColor ='';
        var htmlContent ='';

        $.ajax({
            url: '/api/v1/sanpham/detail/'+idSanphamCha,
            type: 'GET',
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                response.data.images.forEach(function (item){
                    htmlContentImage +=' <li data-thumb="'+item.tenAnh+'">\n' +
                        '                    <img class="w-100" src="'+item.tenAnh+'"/>\n' +
                        '                </li>';
                })

                htmlContentSize = '<option>Chọn kích cỡ</option>'
                htmlContentColor = '<option>Chọn màu sắc</option>'
                response.data.color.forEach(function (item){
                    htmlContentColor += '<option value="'+item+'">'+item+'</option>'
                })
                response.data.size.forEach(function (item){
                    htmlContentSize += '<option value="'+item+'">'+item+'</option>'
                })

                $('#lightSlider').html(htmlContentImage)
                $('#mausac').html(htmlContentColor)
                $('#kichco').html(htmlContentSize)
                $('#tenSanpham').html(response.data.sanpham.tenSanPham)
                $('#chatLieu').html(response.data.sanpham.chatLieu)
                $('#thuongHieu').html(response.data.sanpham.thuongHieu)
                $('#noidungMota').html(response.data.sanpham.moTa)
                $('#gia').html(formatMoney(response.data.sanpham.giaBan))
            },
            error: function (err) {
                alert("error : " + err.message);
            }
        });
    });


    var idSanpham = '';
    function getSanpham(){
      var color = $('#mausac').val();
      var size = $('#kichco').val();

      if (checkvalue(color) === true && checkvalue(size) === true){

          var postData = {
              idSanphamCha: idSanphamCha,
              mauSac: color ,
              kichCo: size ,

          }
          var htmlContent = '';

          $.ajax({
          url: '/api/v1/sanpham/getsac',
              type: 'POST',
              dataType: "json",
              contentType: 'application/json',
              data:JSON.stringify(postData),
              success: function (response) {
                  htmlContent +='<p>Số lượng : '+response.data.soLuong+'</p>'
                  idSanpham = response.data.idSanpham;

              $('#message').html(htmlContent);
          },
          error: function (err) {

              htmlContent +='<p>Sản phẩm đã hết hàng , vui lòng chọn lại !</p>'
              $('#message').html(htmlContent)
          }

      });
      }else {

      }
    }

    function checkvalue(value){
        if (value === null || value === undefined || value ==='' || value === "Chọn kích cỡ" || value ==="Chọn màu sắc"){
            return false;
        }else {
            return true;
        }
    }

    function themGioHang(){
        if (idSanpham === '' || idSanpham === null || idSanpham === undefined){
            $('#message').html('<div class="alert alert-danger" role="alert" >Có thể bạn chưa chọn hoặc hàng đã hết , Vui lòng chọn size và màu sắc yêu thích !</div>')
        }else {
            var dataGiohang ={
                idSanpham : idSanpham,
                soLuong : $('#soluong').val()
            }

            $.ajax({
                url: '/api/v1/giohang/add',
                type: 'POST',
                dataType: "json",
                data : JSON.stringify(dataGiohang),
                contentType: 'application/json',
                success: function (response) {
                    alert("thêm giỏ hàng thành công !")

                },
                error: function (err) {
                    if (err.status === 200){
                        alert("vui lòng đăng nhập !")
                        location.href="/login";
                    }
                    if (err.message === undefined){
                        alert(err.responseJSON.message)
                    }else{
                        alert(err.message)
                    }

                }
            });
        }

    }

</script>
</body>

</html>