<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title  -->
  <title>LongLoc | Đặt hàng</title>
  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.png">
  <!-- Core Style CSS -->
  <link rel="stylesheet" href="css/core-style.css">
  <link rel="stylesheet" href="/giohang/thanhtoan.css">
  <link rel="stylesheet" href="style.css">

</head>
<body layout:fragment="content">
<!-- ##### Thanh toan Start ##### -->
<secticon class="thanhtoan">
  <div class="container">
    <div class="header-tt">
      <span><h2><img src="/giohang/img-giohang/thanhtoan.png" alt="" width="50px">| Thanh Toán</h2></span>
    </div>
    <div class="diachi" style="background-color: #ddd">
      <div class="diachi-nd" id="diachigiaohang" style="background-color: #fff">
        <h5><strong>Địa chỉ nhận hàng</strong></h5>
        <div class="d-flex align-items-center justify-content-between h6">
            <div>
              <strong name="tenNguoiNhan"></strong>
              <strong class="ml-2 mr-5" name="soDienThoai"></strong>
              <span name="diaChiGiaoHang"></span>
            </div>
            <div class="ml-5">
              <button type="button" id="thaydoidiachigiaohang" name="btn" data-toggle="modal" data-target="#changeAdress" class="h6" >Thay đổi</button>
            </div>
        </div>
      </div>
    </div>
    <div class="my-3" style="height: 100px">
        <div>
            <label><strong>Ghi chú :</strong></label>
        </div>
        <div>
            <textarea id="ghichu" type="text" class="w-100" style="height: 100px;" placeholder="Nhập ghi Chú của bạn !"></textarea>
        </div>
    </div>
    <div class="sanpham">
      <h3 style="text-align: center;padding: 20px">Sản Phẩm</h3>
      <form action="">
        <table class="checkout">
          <thead>
          <tr>
            <th>Tên Sản Phẩm</th>
            <th></th>
            <th></th>
            <th>Đơn Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
          </tr>
          </thead>
          <tbody id="data">
          </tbody>
        </table>
        <h4 style="color: red"><span>Tổng tiền :</span><span id="total"></span></h4>

        <div class="thanhtien d-flex justify-content-end"><button class="btn" style="height: 50px" onclick="dathang()">Đặt hàng</button></div>
      </form>
    </div>
  </div>
</secticon>
<!-- model bootStrap-->

<!-- Modal show all-->
<div class="modal fade" id="changeAdress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Địa chỉ của tôi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="showAllDiachigiaohang">

          </div>
          <div>
              <button type="button"  data-toggle="modal" data-target="#addAdress" data-dismiss="modal" class=" btn h5"> +Thêm địa chỉ</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary"  onclick="changeDiachigiaohang()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Add  -->
<div class="modal fade" id="addAdress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật địa chỉ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="mr-3 ">
                        <input type="text" style="width: 225px; padding-left: 5px" id="add-diachigiaohang-name" placeholder="tên người nhận">
                    </div>
                    <div>
                        <input type="number" style="width: 225px; padding-left: 5px" id="add-diachigiaohang-phonenumber" placeholder="điện thoại">
                    </div>
                </div>
                <div class="d-flex my-5">
                    <textarea style="padding-left: 5px" id="add-diachigiaohang-diachi" class="w-100" placeholder="Địa chỉ giao hàng cụ thể"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changeAdress" data-dismiss="modal">Trở lại</button>
                <button type="button" class="btn btn-primary"   onclick="addAdress()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Update -->
<div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật địa chỉ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="mr-3 ">
                        <input type="text" style="width: 225px; padding-left: 5px" id="update-diachigiaohang-name" placeholder="tên người nhận">
                    </div>
                    <div>
                        <input type="number" style="width: 225px; padding-left: 5px" id="update-diachigiaohang-phonenumber" placeholder="điện thoại">
                    </div>
                </div>
                <div class="d-flex my-5">
                    <textarea style="padding-left: 5px" id="update-diachigiaohang-diachi" class="w-100" placeholder="Địa chỉ giao hàng cụ thể"></textarea>
                </div>
                <input type="hidden"  id="update-diachigiaohang-id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changeAdress" data-dismiss="modal">Trở lại</button>
                <button type="button" class="btn btn-primary"  onclick="updateDiaChiGiaoHang()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- ##### Thanh toan End ##### -->

<script src="js/jquery/jquery-2.2.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/classy-nav.min.js"></script>
<script src="js/active.js"></script>
<script src="js/main.js"></script>
<script>

    var id_DiaChiGiaoHang;

    $(document).ready(function (){

    var htmlContent='';
    $.ajax({
      url: '/api/v1/giohang/donhang/load',
      type: 'GET',
      dataType: "json",
      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      success: function (response){
        var tongTatCa = 0;
        response.data.forEach(function (item){
          var tongTien = 0;
              tongTien = parseInt(item.giohang.soLuong)* parseInt(item.sanpham.giaBan);

              tongTatCa = parseInt(tongTien) + parseInt(tongTatCa);

          htmlContent+='<tr>\n' +
                  '            <td><img src="'+item.sanpham.img+'" alt="" style="width: 80px"><span>'+formatTenSanPham(item.sanpham.tenSanPham)+'</span></td>\n' +
                  '            <td>'+item.sanpham.kichCo+'</td>\n' +
                  '            <td>'+item.sanpham.mauSac+'</td>\n' +
                  '            <td><span>'+formatMoney(item.sanpham.giaBan)+'</span></td>\n' +
                  '            <td>'+item.giohang.soLuong+'</td>\n' +
                  '            <td><span>'+formatMoney(tongTien)+'</span></td>\n' +
                  '          </tr>'
        })

        $('#total').text(formatMoney(tongTatCa))
        $('#data').html(htmlContent)

      },
      error: function (err) {
        if (err.message != undefined){
          alert("error : "+err.message);
        }else {
          alert("Error : "+err.responseJSON.message)
        }

      }
    });


    $.ajax({
      url: '/api/v1/diachigiaohang/macdinh',
      type: 'GET',
      dataType: "json",
      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      success: function (response){
        id_DiaChiGiaoHang = response.data.idDiachigiaohang;
       $('Strong[name=tenNguoiNhan]').text(response.data.tenNguoiNhan);
       $('span[name=diaChiGiaoHang]').text(response.data.diaChi);
       $('strong[name=soDienThoai]').text(response.data.dienThoai);

      },
      error: function (err) {
        if (err.message != undefined){
          alert("error : "+err.message);
        }else {
          alert("Error : "+err.responseJSON.message)
        }

      }
    });

  })

    function dathang(){
    var dataDathang ={
      idDiachigiaohang : id_DiaChiGiaoHang,
      ghiChu: $('#ghichu').val()
    }

  $.ajax({
    url: '/api/v1/donhang/add',
    type: 'POST',
    dataType: "json",
    contentType: 'application/json',
    data:JSON.stringify(dataDathang),
    success: function (response){
      location.href="/chitietthanhtoan?id="+response.data.idDonhang;
    },
    error: function (err) {
      if (err.message != undefined){
        alert("error : "+err.message);
      }else {
        alert("Error : "+err.responseJSON.message)
      }

    }
  });

}

    $('#thaydoidiachigiaohang').click(function (){
  $.ajax({
    url: '/api/v1/diachigiaohang/getall',
    type: 'GET',
    dataType: "json",
    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    success: function (response){
      var showAllDiaChiGiaoHang ='';
      var radioIndex;
      response.forEach(function (item , index){
        showAllDiaChiGiaoHang+='<div class="d-flex justify-content-between"><div class="mx-3">'+
                '                    <div>\n' +
                '                       <input type="radio" class="Diachi form-check-input mr-1" name="radio-diachi" value="'+item.idDiachigiaohang+'" id="'+item.idDiachigiaohang+'">\n'+
                '                        <strong class="ml-2">'+item.tenNguoiNhan+'</strong>   | <span>'+item.dienThoai+'</span>'+
                '                    </div>\n' +
                '                    <div class="ml-2">\n' +
                '                        <label>Địa chỉ : </label>\n' +
                '                        <span>'+item.diaChi+'</span>\n' +
                '                    </div>\n' +
                '                    <hr>' +
                '                </div>' +
                '                <div>' +
                '                    <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#updateModel" class="h6"  onclick="showDiaChiGiaoHang('+item.idDiachigiaohang+')" name="btn" class="h6">Cập nhật</button>' +
                '                 </div></div>'

          if(item.macDinh === 'true'){
              radioIndex = index;
          }
      })


      $('#showAllDiachigiaohang').html(showAllDiaChiGiaoHang)
      $('input[name=radio-diachi]')[radioIndex].checked = true;

    },
    error: function (err) {
      if (err.message != undefined){
        alert("error : "+err.message);
      }else {
        alert("Error : "+err.responseJSON.message)
      }

    }
  });
})

    function changeDiachigiaohang(){
    $('input[name=radio-diachi]').each(function (index ,item){
        if(item.checked == true){
            idDiaChiGiaoHang = parseInt(item.value);
        }
    });

    // /change/{id}
    $.ajax({
        url: '/api/v1/diachigiaohang/change/'+idDiaChiGiaoHang,
        type: 'POST',
        dataType: "json",
        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        success: function (response){
            window.location.reload();
        },
        error: function (err) {
            if (err.message != undefined){
                alert("error : "+err.message);
            }else {
                alert("Error : "+err.responseJSON.message)
            }

        }
    });
}

    function updateDiaChiGiaoHang(){

      var id = $("#update-diachigiaohang-id").val();
      var requestData = {
          tenNguoiNhan: $("#update-diachigiaohang-name").val(),
          diaChi: $("#update-diachigiaohang-diachi").val(),
          dienThoai: $("#update-diachigiaohang-phonenumber").val(),
      }
    $.ajax({
        url: '/api/v1/diachigiaohang/'+id,
        type: 'PUT',
        dataType: "json",
        contentType: 'application/json',
        data:JSON.stringify(requestData),
        success: function (response){
            location.reload();
        },
        error: function (err) {
            if (err.message != undefined){
                alert("error : "+err.message);
            }else {
                alert("Error : "+err.responseJSON.message)
            }

        }
    });

}

    function showDiaChiGiaoHang(id){

    $.ajax({
        url: '/api/v1/diachigiaohang/'+id,
        type: 'GET',
        dataType: "json",
        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        success: function (response){
            $("#update-diachigiaohang-id").val(response.data.idDiachigiaohang)
            $("#update-diachigiaohang-name").val(response.data.tenNguoiNhan)
            $("#update-diachigiaohang-phonenumber").val(response.data.dienThoai)
            $("#update-diachigiaohang-diachi").val(response.data.diaChi)
        },
        error: function (err) {
            if (err.message != undefined){
                alert("error : "+err.message);
            }else {
                alert("Error : "+err.responseJSON.message)
            }

        }
    });

}

    function addAdress(){
      var requestBody = {
          tenNguoiNhan: $("#add-diachigiaohang-name").val(),
          diaChi: $("#add-diachigiaohang-diachi").val(),
          dienThoai: $("#add-diachigiaohang-phonenumber").val(),
      }

    $.ajax({
        url: '/api/v1/diachigiaohang/add',
        type: 'Post',
        dataType: "json",
        contentType: 'application/json',
        Accept:'application/json',
        data:JSON.stringify(requestBody),
        success: function (response){
           location.reload();
        },
        error: function (err) {
            if (err.message != undefined){
                alert("error : "+err.message);
            }else {
                alert("Error : "+err.responseJSON.message)
            }

        }
    });


}

</script>
</body>

</html>