<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags must come first in the head; any other head content must come after these tags -->

    <!-- Title  -->
    <title> LongLoc - Thông tin cá nhân </title>


    <link rel="icon" href="img/core-img/favicon.png">

    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="/giohang/thanhtoan.css">
    <link rel="stylesheet" href="style.css">
<style>
    .tab {
        overflow: hidden;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 16px;
        color: #787878;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
        color: black;
    }

    .tabcontent {
        display: none;
    }
    .tablinks{
        background-color: #FFFFFF;
        height: 45px;
    }
    td{
        margin: 25px 0;
    }
    .labels{
        color: #787878;
    }
</style>
</head>
<body>
    <section layout:fragment="content" style="margin-top: 100px">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-4" style="padding-right: 0px">
                    <div class="py-5">
                        <div class="tab d-flex flex-column">
                            <button class="tablinks text-left px-2 active"  onclick="openCity(event, 'hoso')">Hồ sơ</button>
                            <button class="tablinks text-left px-2"  onclick="openCity(event, 'diachi')" id="btnDiachi">Địa chỉ</button>
                            <button class="tablinks text-left px-2" onclick="openCity(event, 'doimatkhau')" >Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 border-left tabcontent  active" id="hoso" style="min-height: 540px; display: block;">
                    <div class="py-5">
                        <div class="d-flex  justify-content-center mb-3">
                            <h4 class="text-right">Hồ Sơ Của Tôi</h4>
                        </div>
                        <form class="d-flex align-items-center flex-column">
                            <div class="d-flex my-2 w-100">
                                <label class=" labels w-50 pr-2 text-right">Tên đăng nhập / email :</label><span name="tendangnhap"></span>
                            </div>
                            <div class="d-flex my-2 w-100" >
                                <label class="labels pr-2 w-50 text-right">Số Điện Thoại :</label>
                                <input type="number" placeholder="Số điện thoại" id="sodienthoai">
                            </div>
                            <div class="d-flex my-2 w-100 ">
                                <label class="labels w-50 pr-2 text-right">Loại tài khoản :</label> <span name="loaitaikhoan"></span>
                            </div>
                            <div id="messagePhoneNumber"></div>
                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" onclick="changePhoneNumber()" type="button">Lưu Thông Tin</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-8 border-left tabcontent" style="min-height: 540px;" id="diachi">
                    <div class="py-5">
                        <div class="d-flex  justify-content-center mb-3">
                            <h4 class="text-right">Địa chỉ Của Tôi</h4>
                        </div>
                        <div class="mt-3">
                            <div class="text-right">
                                <button type="button"  data-toggle="modal" data-target="#addAdress" data-dismiss="modal" class=" btn h5"> +Thêm địa chỉ</button>
                            </div>
                            <div id="showAllDiachigiaohang">


                            </div>

                        </div>
                    </div>


                </div>

                <div id="doimatkhau" style="min-height: 540px;" class=" border-left tabcontent col-md-8">

                    <div class="py-5">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <h4 class="text-right">Đổi Mật Khẩu</h4>
                                <span>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác.</span>
                            </div>
                        </div>


                        <form class="d-flex align-items-center flex-column">
                            <div class="d-flex my-2 w-100">
                                <label class=" labels w-25 pr-2 text-right">Mật Khẩu Hiện Tại :</label>
                                <input type="password" id="password" class="form-control w-50" >
                            </div>
                            <div class="d-flex my-2 w-100" >
                                <label class="labels pr-2 w-25 text-right">Mật Khẩu Mới :</label>
                                <input type="password" id="newPassword" class="form-control w-50">
                            </div>
                            <div class="d-flex my-2 w-100">
                                <label class="labels w-25 pr-2 text-right">Nhập lại Mật Khẩu :</label>
                                <input type="password" id="comfirmPassword" class="form-control w-50">
                            </div>
                            <div id="messagePassword" class="w-100"></div>
                            <button onclick="changePassword()" type="button" class="button btn btn-primary w-25 d-flex justify-content-center align-items-center"><span>Xác Nhận</span><i class="fa fa-long-arrow-right ms-2"></i></button>
                        </form>

                        </div>
                    </div>

            </div>
        </div>

        <!-- Modal Add  -->
        <div class="modal fade" id="addAdress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cập nhật địa chỉ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex">
                            <div class="mr-3 ">
                                <input type="text" style="width: 225px; padding-left: 5px" id="add-diachigiaohang-name" placeholder="tên người nhận">
                            </div>
                            <div>
                                <input type="number" style="width: 225px; padding-left: 5px" id="add-diachigiaohang-phonenumber" placeholder="điện thoại">
                            </div>
                        </div>
                        <div class="d-flex my-5">
                            <textarea style="padding-left: 5px" id="add-diachigiaohang-diachi" class="w-100" placeholder="Địa chỉ giao hàng cụ thể"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changeAdress" data-dismiss="modal">Trở lại</button>
                        <button type="button" class="btn btn-primary"   onclick="addAdress()">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Update -->
        <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cập nhật địa chỉ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex">
                            <div class="mr-3 ">
                                <input type="text" style="width: 225px; padding-left: 5px" id="update-diachigiaohang-name" placeholder="tên người nhận">
                            </div>
                            <div>
                                <input type="number" style="width: 225px; padding-left: 5px" id="update-diachigiaohang-phonenumber" placeholder="điện thoại">
                            </div>
                        </div>
                        <div class="d-flex my-5">
                            <textarea style="padding-left: 5px" id="update-diachigiaohang-diachi" class="w-100" placeholder="Địa chỉ giao hàng cụ thể"></textarea>
                        </div>
                        <input type="hidden"  id="update-diachigiaohang-id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changeAdress" data-dismiss="modal">Trở lại</button>
                        <button type="button" class="btn btn-primary"  onclick="updateDiaChiGiaoHang()">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            $('#btnDiachi').click(function (){
                $.ajax({
                    url: '/api/v1/diachigiaohang/getall',
                    type: 'GET',
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response){
                        var showAllDiaChiGiaoHang ='';
                        response.forEach(function (item , index){
                            showAllDiaChiGiaoHang+='<div class="d-flex justify-content-between "><div class="mx-3 w-75">'+
                                '                    <div>\n' +
                                '                        <strong class="ml-2">'+item.tenNguoiNhan+'</strong>   | <span class="labels">'+item.dienThoai+'</span>'+
                                '                    </div>\n' +
                                '                    <div class="ml-2 labels">\n' +
                                '                        <label>Địa chỉ : </label>\n' +
                                '                        <span>'+item.diaChi+'</span>\n' +
                                '                    </div>\n' +
                                '                    <hr>' +
                                '                </div>' +
                                '                <div>' +
                                '                    <button type="button" style="cursor: pointer" data-toggle="modal" data-dismiss="modal" data-target="#updateModel" class="h6 mr-2"  onclick="showDiaChiGiaoHang('+item.idDiachigiaohang+')" name="btn" class="h6">Cập nhật</button>' +
                                '                    <button type="button"   style="cursor: pointer"  onclick="deleteDiaChiGiaoHang('+item.idDiachigiaohang+')" name="btn" class="h6">Xóa</button>' +
                                '                 </div>' +
                                '               </div>'

                        })
                        $('#showAllDiachigiaohang').html(showAllDiaChiGiaoHang)

                    },
                    error: function (err) {
                        if (err.message != undefined){
                            alert("error : "+err.message);
                        }else {
                            alert("Error : "+err.responseJSON.message)
                        }

                    }
                });
            })

            function addAdress() {
                var requestBody = {
                    tenNguoiNhan: $("#add-diachigiaohang-name").val(),
                    diaChi: $("#add-diachigiaohang-diachi").val(),
                    dienThoai: $("#add-diachigiaohang-phonenumber").val(),
                }

                $.ajax({
                    url: '/api/v1/diachigiaohang/add',
                    type: 'Post',
                    dataType: "json",
                    contentType: 'application/json',
                    Accept: 'application/json',
                    data: JSON.stringify(requestBody),
                    success: function (response) {
                        $("#diachi").reload();
                    },
                    error: function (err) {
                        if (err.message != undefined) {
                            alert("error : " + err.message);
                        } else {
                            alert("Error : " + err.responseJSON.message)
                        }

                    }
                });
            }

            function showDiaChiGiaoHang(id){

                $.ajax({
                    url: '/api/v1/diachigiaohang/'+id,
                    type: 'GET',
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response){
                        $("#update-diachigiaohang-id").val(response.data.idDiachigiaohang)
                        $("#update-diachigiaohang-name").val(response.data.tenNguoiNhan)
                        $("#update-diachigiaohang-phonenumber").val(response.data.dienThoai)
                        $("#update-diachigiaohang-diachi").val(response.data.diaChi)
                    },
                    error: function (err) {
                        if (err.message != undefined){
                            alert("error : "+err.message);
                        }else {
                            alert("Error : "+err.responseJSON.message)
                        }

                    }
                });

            }

            function updateDiaChiGiaoHang(){

                var id = $("#update-diachigiaohang-id").val();
                var requestData = {
                    tenNguoiNhan: $("#update-diachigiaohang-name").val(),
                    diaChi: $("#update-diachigiaohang-diachi").val(),
                    dienThoai: $("#update-diachigiaohang-phonenumber").val(),
                }
                $.ajax({
                    url: '/api/v1/diachigiaohang/'+id,
                    type: 'PUT',
                    dataType: "json",
                    contentType: 'application/json',
                    data:JSON.stringify(requestData),
                    success: function (response){
                        $("#diachi").reload();
                    },
                    error: function (err) {
                        if (err.message != undefined){
                            alert("error : "+err.message);
                        }else {
                            alert("Error : "+err.responseJSON.message)
                        }

                    }
                });

            }

           function deleteDiaChiGiaoHang(id){
               if (confirm("Bạn muốn xóa địa chỉ giao hàng này ?") === true){
                   $.ajax({
                       url: '/api/v1/diachigiaohang/'+id,
                       type: 'DELETE',
                       dataType: "json",
                       contentType: 'application/json',
                       success: function (response){
                           $("#diachi").reload();
                       },
                       error: function (err) {
                           if (err.message != undefined){
                               alert("error : "+err.message);
                           }else {
                               alert("Error : "+err.responseJSON.message)
                           }
                       }
                   });
               }

           }

           $(document).ready(function () {
               $.ajax({
                   url: '/api/v1/nguoidung/email',
                   type: 'GET',
                   dataType: "json",
                   contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                   success: function (response) {
                       $("span[name=tendangnhap]").text(response.email)
                       $("span[name=loaitaikhoan]").text(response.loaiTaiKhoan)
                       $("#sodienthoai").val(response.dienThoai);
                   },
                   error: function (err) {
                       if (err.message != undefined) {
                           alert("error : " + err.message);
                       } else {
                           alert("Error : " + err.responseJSON.message)
                       }

                   }
               });
           });


            function changePhoneNumber(){
                if (confirm("Số điện thoại sẽ được thay đổi ?")){

                    var postDataNumber = {
                        phoneNumber: $("#phoneNumber").val()
                    }
                    $.ajax({
                        url: '/api/v1/nguoidung/changephone',
                        type: 'POST',
                        dataType: "json",
                        contentType: 'application/json',
                        data: JSON.stringify(postDataNumber),
                        success: function (response) {
                            htmlContent = '<div class="alert alert-success" role="alert">\n' +
                                '  Đổi số điện thoại thành công ' +
                                '</div>'
                            $("#messagePassword").html(htmlContent)
                        },
                        error: function (err) {
                            htmlContent = '<div class="alert alert-danger" role="alert">'+err.responseJSON.data.localizedMessage+'</div>'

                            $("#messagePhoneNumber").html(htmlContent)

                        }
                    });
                }
            }


           function changePassword(){


                var password = $("#password").val()
                var newPassword = $("#newPassword").val()
                var comfirmPassword = $("#comfirmPassword").val()

               if (newPassword != comfirmPassword){
                   var html = '<div class="alert alert-danger" role="alert">\n' +
                       '  Mật khẩu không khớp !' +
                       '</div>'
                   $("#messagePassword").html(html)
               }else{
                   if (confirm("Bạn muốn đổi mật khẩu ?") === true){

                       var postData ={
                           password:password,
                           newPassword: newPassword
                       }

                       var htmlContent = ''
                       $.ajax({
                           url: '/api/v1/nguoidung/changepassword',
                           type: 'POST',
                           dataType: "json",
                           contentType: 'application/json',
                           data:JSON.stringify(postData),
                           success: function (response){
                               htmlContent = '<div class="alert alert-success" role="alert">\n' +
                                   '  Đổi mật khẩu thành công ' +
                                   '</div>'
                               $("#messagePassword").html(htmlContent)
                           },
                           error: function (err) {

                              htmlContent = '<div class="alert alert-danger" role="alert">'+err.responseJSON.data.localizedMessage+'</div>'

                               $("#messagePassword").html(htmlContent)
                           }
                       });
                   }

               }

           }
        </script>
    </section>
</body>
</html>